flow.json
[
    {
        "id": "012eb4e52a3ca8cd",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "eaf51fb48bc0e2df",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "client.crt",
        "keyname": "client.key",
        "caname": "ca.crt",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "a670c2a8dec1af4f",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "8883",
        "tls": "eaf51fb48bc0e2df",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "faa8627dddb6e6a8",
        "type": "inject",
        "z": "012eb4e52a3ca8cd",
        "name": "Generate Sensor Data",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 180,
        "wires": [
            [
                "7c7912e7606334ba"
            ]
        ]
    },
    {
        "id": "7c7912e7606334ba",
        "type": "function",
        "z": "012eb4e52a3ca8cd",
        "name": "function 1",
        "func": "// Generate random temperature and humidity data\nconst temperature = (Math.random() * 10 + 25).toFixed(2);  // 25°C to 35°C\nconst humidity = (Math.random() * 20 + 40).toFixed(2);     // 40% to 60%\n\nconst data = {\n    device_id: \"sensor_001\",\n    temperature: temperature,\n    humidity: humidity,\n    timestamp: new Date().toISOString()\n};\n\nmsg.payload = JSON.stringify(data);\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 180,
        "wires": [
            [
                "8fd852ac6a766af3"
            ]
        ]
    },
    {
        "id": "8fd852ac6a766af3",
        "type": "mqtt out",
        "z": "012eb4e52a3ca8cd",
        "name": "",
        "topic": "iot/device1/data",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a670c2a8dec1af4f",
        "x": 660,
        "y": 180,
        "wires": []
    },
    {
        "id": "9537a1d4724d1d2c",
        "type": "mqtt in",
        "z": "012eb4e52a3ca8cd",
        "name": "",
        "topic": "iot/device1/data",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "a670c2a8dec1af4f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 620,
        "y": 320,
        "wires": [
            [
                "4729876b7c5c577e"
            ]
        ]
    },
    {
        "id": "4729876b7c5c577e",
        "type": "debug",
        "z": "012eb4e52a3ca8cd",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 320,
        "wires": []
    }
]